---
import BaseLayout from "@/layouts/BaseLayout.astro";
import "@/styles/globals.css";

const title = "ABOUT";
---

<BaseLayout title={title}>
    <article class="prose prose-base">
        <p>This is my blog. Welcome to my world.</p>
        <p>This is my blog. Welcome to my world.This is my blog. Welcome to my world.This is my blog. Welcome to my world.This is my blog. Welcome to my world.This is my blog. Welcome to my world.This is my blog. Welcome to my world.This is my blog. Welcome to my world.This is my blog. Welcome to my world.This is my blog. Welcome to my world.This is my blog. Welcome to my world.This is my blog. Welcome to my world.</p>
        </p>
    </article>
</BaseLayout>
