---
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
---

<Layout title="Welcome to Astro.">
    article
    <ul>
        <li><a href="/posts/post-1/">文章 1</a></li>
        <li><a href="/posts/post-2/">文章 2</a></li>
        <li><a href="/posts/post-3/">文章 3</a></li>
    </ul>
</Layout>
