---
import Layout from "../layouts/RootLayout.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
import "@/styles/globals.css";
---

<Layout title="Welcome to Astro.">
    article
    <ul class="text-blue-300">
        {
            allPosts.map((post) => (
                <li>
                    <a href={post.url}>{post.frontmatter.title}</a>
                </li>
            ))
        }
    </ul>
</Layout>
