---
import { getCollection } from "astro:content";
import RootLayout from "../layouts/RootLayout.astro";
import ArticlePost from "../components/ArticlePost.astro";
const allPosts = await getCollection("posts");
import "@/styles/globals.css";
---

<RootLayout title="Welcome to Astro.">
    <div class="w-full flex justify-center">
        <div class="w-1/2 flex flex-col">
            <div
                class="w-full py-10 flex justify-center text-3xl font-bold italic"
            >
                POST
            </div>
            <ul class="mx-24">
                {
                    allPosts.map((post) => (
                        <li class="">
                            <ArticlePost post={post} />
                        </li>
                    ))
                }
            </ul>
        </div>
    </div>
</RootLayout>
