---
import { getCollection } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
import TagItem from "../components/TagItem.astro";
const allPosts = await getCollection("posts");
const title = "CATEGORY";
const uniqueCategorys: string[] = [
    ...new Set(allPosts.map((post) => post.data.categories).flat()),
] as string[];
const categoryMap: Map<string, number> = new Map();
allPosts.forEach((post) => {
    post.data.categories.forEach((category) => {
        categoryMap.has(category)
            ? categoryMap.set(category, categoryMap.get(category)! + 1)
            : categoryMap.set(category, 1);
    });
});
---

<BaseLayout title={title}>
    <div class="grid grid-cols-6 gap-x-2 gap-y-1">
        {
            uniqueCategorys.map((item) => (
                <TagItem url="" tag={item} num={categoryMap.get(item)} />
            ))
        }
    </div>
</BaseLayout>
