---
import Layout from "../layouts/RootLayout.astro";
const title = "Sehnsucht";
const description = "一个空的博客";
const content =
	"欢迎来到我的ASDF，这是基于TailwindCSS,Shadcn和React的Astro主题，请大家提出珍贵意见，在下一定不接受";
import {
	Card,
	CardContent,
	CardDescription,
	CardFooter,
	CardHeader,
	CardTitle,
} from "@/components/ui/card";
import Social from "@/components/Social.astro";
---

<Layout title="Welcome to Astro.">
	<Card
		className="mt-20 px-24 py-20 h-2/3 shadow-2xl rounded-2xl transition ease-in-out delay-0 bg-theme-accent  hover:bg-theme-accent-2 duration-300 order-2 "
	>
		<CardHeader className="">
			<CardTitle className="text-theme-text text-2xl">{title}</CardTitle>
			<CardDescription className="text-theme-link text-xs">
				{description}
			</CardDescription>
		</CardHeader>
		<CardContent className="text-theme-quote text-sm h-20 mt-3">
			<p>{content}</p>
		</CardContent>
		<CardFooter className="text-theme-quote">
			<Social />
		</CardFooter>
	</Card>
</Layout>

<style></style>
