---
import Layout from "../layouts/RootLayout.astro";
const title = "self title";
const description = "self description";
const content = "Content";
import {
	Card,
	CardContent,
	CardDescription,
	CardFooter,
	CardHeader,
	CardTitle,
} from "@/components/ui/card";
import { Button } from "@/components/ui/button";
import { buttonVariants } from "@/components/ui/button";
import Social from "@/components/Social.astro";
---

<Layout title="Welcome to Astro.">
	<!-- <Card className="mt-20 px-24 py-20 h-2/3 shadow-2xl rounded-2xl bg-gradient-to-r from-dark-purple-bg to-dark-purple-bg2 border-2 border-dark-purple-bg-border hover:border-dark-purple-bg-border2" > -->

	<Card
		className="mt-20 px-24 py-20 h-2/3 shadow-2xl rounded-2xl transition ease-in-out delay-0 bg-dark-purple-bg hover:-translate-y-1 hover:scale-105 hover:bg-dark-purple-bg2 duration-300 order-2 border-dark-purple-bg-border hover:border-dark-purple-bg-border2"
	>
		<CardHeader className="">
			<CardTitle className="text-dark-purple-title">{title}</CardTitle>
			<CardDescription className="text-dark-purple-text">
				{description}
			</CardDescription>
		</CardHeader>
		<CardContent className="text-dark-purple-text">
			<p>{content}</p>
		</CardContent>
		<CardFooter className="text-dark-purple-text">
			<Social />
		</CardFooter>
	</Card>
</Layout>

<style></style>
