---
import Layout from "../layouts/RootLayout.astro";
const title = "Sehnsucht";
const description = "一个空的博客";
const content =
	"这是基于TailwindCSS,Shadcn和React的Astro主题，甘道夫打的过几万块的首付款拉丝豆腐，fow二级哦威尔基疯狂的世界里，未来日记微积分酸辣粉";
import {
	Card,
	CardContent,
	CardDescription,
	CardFooter,
	CardHeader,
	CardTitle,
} from "@/components/ui/card";
import Social from "@/components/Social.astro";
---

<Layout title="Welcome to Astro.">
	<Card
		className="my-20 px-10 py-20 h-2/3 rounded-2xl border-0 bg-background"
	>
		<CardHeader className="">
			<CardTitle className="text-theme-text text-5xl">{title}</CardTitle>
			<CardDescription className="text-theme-link text-sm">
				{description}
			</CardDescription>
		</CardHeader>
		<CardContent className="text-theme-quote text-base h-24 mt-3">
			<p>{content}</p>
		</CardContent>
		<CardFooter className="text-theme-quote">
			<Social />
		</CardFooter>
	</Card>
</Layout>

<style></style>
