---
import { getCollection } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
import ArticleItem from "@/components/ArticleItem.astro";
const allPosts = await getCollection("posts");
const title = "POST";
var thisYear: number = 0;
---

<BaseLayout title={title}>
    <ul class="">
        {
            allPosts
                .filter((e) => !e.data.hidden)
                .sort(
                    (a, b) =>
                        b.data.pubDate.getTime() - a.data.pubDate.getTime(),
                )
                .map((post) => {
                    if (post.data.pubDate.getFullYear() != thisYear) {
                        thisYear = post.data.pubDate.getFullYear();
                        return (
                            <>
                                <li class="px-2 my-3 font-semibold border-4 border-background border-l-ring/90">
                                    {thisYear}
                                </li>
                                <ArticleItem post={post} />
                            </>
                        );
                    }
                    return <ArticleItem post={post} />;
                })
        }
    </ul>
</BaseLayout>
