---
import { getCollection } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
import TagItem from "../components/TagItem.astro";
const allPosts = await getCollection("posts");
const title = "TAG";
const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
---

<BaseLayout title={title}>
    <div class="grid grid-cols-6 gap-x-2">
        {uniqueTags.map((item) => <TagItem url="" tag={item} />)}
    </div>
</BaseLayout>
