---
import { getCollection } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
import TagItem from "../components/TagItem.astro";
const allPosts = await getCollection("posts");
const title = "TAG";
const uniqueTags: string[] = [
    ...new Set(allPosts.map((post) => post.data.tags).flat()),
];
const tagMap: Map<string, number> = new Map();
allPosts.forEach((post) => {
    post.data.tags.forEach((tag) => {
        tagMap.has(tag)
            ? tagMap.set(tag, tagMap.get(tag) + 1)
            : tagMap.set(tag, 1);
    });
});
---

<BaseLayout title={title}>
    <div class="grid grid-cols-6 gap-x-2 gap-y-1">
        {
            uniqueTags.map((item) => (
                <TagItem url="" tag={item} num={tagMap.get(item)} />
            ))
        }
    </div>
</BaseLayout>
