---

---

<footer class="flex justify-center w-full">
    <div class="mx-2 flex">
        <div class="text-foreground/50 text-xs">
            Copyright © 2020-{new Date().getFullYear()} | 京ICP备XXXXXXX号-1
        </div>
    </div>
    <div></div>
</footer>
