---
import {
    Github,
    Send,
    Mail,
    Rss,
    Twitter,
    Instagram,
    Youtube,
} from "lucide-react";
---

<!-- https://lucide.dev/ -->
<a href="">
    <Github
        className="hover:rotate-12 transition delay-0 ease-in-out hover:stroke-ring"
    />
</a>
<a href="">
    <Mail
        className="hover:rotate-12 transition delay-0 ease-in-out hover:stroke-ring"
    />
</a>
<a href="">
    <Twitter
        className="hover:rotate-12 transition delay-0 ease-in-out hover:stroke-ring"
    />
</a>
<a href="">
    <Instagram
        className="hover:rotate-12 transition delay-0 ease-in-out hover:stroke-ring"
    />
</a>
<a href="">
    <Youtube
        className="hover:rotate-12 transition delay-0 ease-in-out hover:stroke-ring"
    />
</a>
