---
import {
    TbBrandGithub,
    TbMail,
    TbBrandTwitter,
    TbBrandInstagram,
    TbBrandYoutube,
    TbBrandTelegram,
    TbBrandWechat,
    TbRss,
} from "react-icons/tb";
---

<!-- https://react-icons.github.io/react-icons/icons/tb/ -->

<!-- <a href="">
    <TbMail
        className="hover:rotate-12 transition delay-0 ease-in-out hover:stroke-ring stroke-[2px] h-6 w-6"
    />
</a> -->
<!-- <a href="">
    <TbBrandYoutube
        className="hover:rotate-12 transition delay-0 ease-in-out hover:stroke-ring stroke-[2px] h-6 w-6"
    />
</a> -->
<a href="">
    <TbBrandGithub
        className="hover:rotate-12 transition delay-0 ease-in-out hover:stroke-ring stroke-[2px] h-6 w-6"
    />
</a>
<a href="">
    <TbBrandTwitter
        className="hover:rotate-12 transition delay-0 ease-in-out hover:stroke-ring stroke-[2px] h-6 w-6"
    />
</a>
<a href="">
    <TbBrandInstagram
        className="hover:rotate-12 transition delay-0 ease-in-out hover:stroke-ring stroke-[2px] h-6 w-6"
    />
</a>

<a href="">
    <TbBrandTelegram
        className="hover:rotate-12 transition delay-0 ease-in-out hover:stroke-ring stroke-[2px] h-6 w-6"
    />
</a>
<a href="">
    <TbBrandWechat
        className="hover:rotate-12 transition delay-0 ease-in-out hover:stroke-ring stroke-[2px] h-6 w-6"
    />
</a>
<a href="">
    <TbRss
        className="hover:rotate-12 transition delay-0 ease-in-out hover:stroke-ring stroke-[2px] h-6 w-6"
    />
</a>
