---
const { tag, url, num } = Astro.props;
---

<div
    class="text-lg font-semibold transition ease-in-out duration-300 hover:scale-125 place-self-left flex"
>
    <a href={url} class="flex" title={tag}>
        <span class="col-start-1 row-start-1 w-[100%] truncate ...">
            {tag}
        </span>
        <p class="text-ring px-1">·</p>
        <div class="font-medium text-slate-500">{num}</div>
    </a>
</div>
