---
interface Props {
	title: string;
}

const { title } = Astro.props;
import Column from "@/components/Column.astro";
import Footer from "../components/Footer.astro";
import { Navigation } from "@/components/NavigationMenu";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="flex flex-col h-screen bg-dark-purple-bg">
			<div
				class="py-3 px-3 mx-auto w-full md:flex md:justify-between max-w-6xl md:px-4 rounded-sm border-4 border-sky-400"
			>
				<Navigation client:idle />
			</div>
			<div class="flex h-screen rounded-sm border-4 border-green-300">
				<div class="w-1/4">
					<Column />
				</div>
				<div class="w-1/2 justify-center flex-col">
					<slot />
				</div>
				<div class="w-1/4"></div>
			</div>
			<div
				class="py-1 px-3 mx-auto w-full md:flex md:justify-between max-w-6xl md:px-4 rounded-sm border-4 border-sky-400"
			>
				<Footer />
			</div>
		</div>
	</body>
</html>
<style></style>
