---
import { LOCALE } from "@/config";
import { ViewTransitions } from "astro:transitions";
interface Props {
	title: string;
}

const { title } = Astro.props;
import Footer from "../components/Footer.astro";
import { Navigation } from "@/components/NavigationMenu";
import "@/styles/globals.css";
import { Rss } from "lucide-react";
---

<!doctype html>
<html lang=`${LOCALE.lang ?? "en"}`>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<ViewTransitions />
		<title>{title}</title>
	</head>
	<body class="">
		<div class="flex flex-col h-screen">
			<div
				class="py-3 px-96 fixed top-0 z-0 max-h-[7%] w-full shadow-sm flex justify-between backdrop-blur"
			>
				<div class="flex">
					<a
						href="/"
						class="font-bold flex flex-col justify-center mx-2"
					>
						HEXW
					</a>
					<a href="/rss.xml" class="flex flex-col justify-center">
						<Rss className="stroke-ring " />
					</a>
				</div>

				<Navigation client:idle />
			</div>
			<div class="mt-[5%] flex flex-1">
				<!-- <div class="h-screen mt-16"> -->
				<slot />
			</div>
			<div class="py-1 sticky top-0 z-0 w-full md:flex h-[4%]">
				<Footer />
			</div>
		</div>
		<style></style>

		<script is:inline>
			const getThemePreference = () => {
				if (
					typeof localStorage !== "undefined" &&
					localStorage.getItem("theme")
				) {
					return localStorage.getItem("theme");
				}
				return window.matchMedia("(prefers-color-scheme: dark)").matches
					? "dark"
					: "light";
			};
			const isDark = getThemePreference() === "dark";
			document.documentElement.classList[isDark ? "add" : "remove"](
				"dark",
			);

			if (typeof localStorage !== "undefined") {
				const observer = new MutationObserver(() => {
					const isDark =
						document.documentElement.classList.contains("dark");
					localStorage.setItem("theme", isDark ? "dark" : "light");
				});
				observer.observe(document.documentElement, {
					attributes: true,
					attributeFilter: ["class"],
				});
			}
		</script>
	</body>
</html>
